body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
  font-family: "Segoe UI", sans-serif;
  color: #333;
}

body h1 {
  font-size: 20vw;
  border: 5px solid seagreen;
  border-radius: 2vw;
  padding: 1vw;
  background-color: #ffffffc9;
  margin: 2vw;
}

body h2 {
  font-size: 10vw;
  border: 5px solid seagreen;
  border-radius: 2vw;
  padding: 1vw;
  background-color: #ffffffc0;
  margin: 2vw;
}

body h3 {
  font-size: 50vw;
  color: #666;
  margin: 2vw;
}

body button {
  padding: 5vw 20vw;
  font-size: 20vw;
  color: white;
  border: none;
  border-radius: 5vw;
  cursor: pointer;
  /* หารูปยากมากๆๆๆๆๆ ตอนนี้หาไม่เจอ */ /* หาไม่เจอ เอารูปอื่นไปก่อน */ /*คิดรูปออกแต่หาไม่เจอ่า*/
  background-image: url("https://image.cdn2.seaart.me/temp-convert-webp/highwebp/20250411/145b0286-9e90-4f54-bfe0-6c4f27274de7_low.webp");
  /* รูป จาก เว็ป ai https://www.seaart.ai/th หารูปจน 0:40 อะ*/
  background-size: cover;
  background-position: center;
}
